<a href="https://colab.research.google.com/github/chuter176/Exercise_2025/blob/main/106d.get107list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

d.get

In [3]:
names = {'Mary':10999,'Cris':2111,'Aimy':9778,'Tom':20245}
ret1 = names.get('Cris')
ret2 = names.get('Sams')

In [2]:
ret1 = names.get('Cris',0)
ret2 = names.get('Same',0)
print(f'ret1 = {ret1}, ret2 = {ret2}')

ret1 = 2111, ret2 = 0

list

In [4]:
names = {'Mary':10999,'cris':2111,'Aimy':9778,'Tom':20245}
nameList = list(names)
print(nameList)

['Mary', 'cris', 'Aimy', 'Tom']